.container {
  padding: 0 var(--spacing);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.home-start {
  text-align: center;
  padding: 10px 0 20px 0;
  background-size: 42% auto;
}

.home-info-container {
  margin-bottom: 32px;
}

.home-info {
  background: white;
  padding: 20px 0;

  h2 {
    margin-bottom: 16px;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.3;
  }

  p {
    font-size: 1em;
    margin-bottom: 16px;
  }
}

.home-info__cta {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: calc(var(--spacing) * 4);
  margin: calc(var(--spacing) * 3 0);

  h3 {
    padding-top: 0;
  }
}

.home-logos {
  margin: 16px 0;
  display: flex;
  align-items: center;

  li {
    display: inline-block;
    width: 120px;
    margin-right: 20px;
  }

  img {
    max-width: 100%;
  }

  a {
    display: block;
    line-height: 0;
  }

  a:focus-visible {
    outline-color: var(--color-yellow);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 calc(var(--spacing) * 1.5);
  }

  .home-start {
    padding: 40px 0;
  }

  .home-info-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }

  .home-info__cta {
    margin: 0;
  }
}
