input {
  font-family: Source Sans Pro, sans-serif;
  font-size: inherit;
  padding: 10px;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

input:focus {
  outline: 2px solid var(--color-focus);
}

.button-primary {
  border: none;
  outline: none;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-red);
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  font-weight: var(--font-weight-strong);

  &:hover {
    background-color: var(--color-dark-red);
  }
}

a.button-primary {
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: var(--color-white);
  }
}
