:root {
  --spacing: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;

  --font-family-base: "Source Sans Pro", sans-serif;

  --font-size-base-px: 16px;
  --font-size-small: 0.8rem;
  --font-size-base: 1rem;
  --font-size-large: 1.3rem;
  --font-size-x-large: 2rem;

  --font-weight-strong: 600;

  --line-height-base: 1.5;

  --color-green: #338033;
  --color-white: #fff;
  --color-blue: #127aba;
  --color-red: #d11713;
  --color-dark-red: #740d0b;
  --color-orange: #b85619;
  --color-yellow: #e6c127;
  --color-indigo: #775ec9;
  --color-violet: #b200b2;
  --color-dark-blue: #003078;
  --grey-a: #333;
  --grey-b: #666;
  --grey-d: #ccc;
  --grey-e: #ddd;
  --grey-f: #fbfbfb;

  --color-text: var(--grey-a);
  --color-focus: #fd0;

  --stage-1-color: var(--color-red);
  --stage-2-color: var(--color-orange);
  --stage-3-color: var(--color-yellow);
  --stage-4-color: var(--color-green);
  --stage-5-color: var(--color-blue);
  --stage-6-color: var(--color-indigo);
  --stage-7-color: var(--color-violet);

  --numColumnsSmall: 7;
  --numColumns: 8;
}
