.home-search {
  margin: 0 auto calc(var(--spacing) * 3) auto;
  width: 100%;
}

.home-search__input {
  width: 55%;
  margin-right: var(--spacing);
}

@media (min-width: 768px) {
  .home-search {
    margin: 0 auto calc(var(--spacing) * 6) auto;
    width: 80%;
  }

  .home-search__input {
    width: 70%;
  }
}
