.home-filters {
  margin: 0 auto var(--spacing-2) auto;
  position: relative;
  min-height: 145px;

  .loader {
    top: 70%;
  }

  @media (min-width: 768px) {
    margin: 0 auto var(--spacing-6) auto;
  }
}

.home-filters-list {
  margin: var(--spacing) auto;
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

  li {
    margin: calc(var(--spacing) / 2);
  }
}

.home-filters-list__item {
  margin-bottom: var(--spacing);
  width: 120px;
  cursor: pointer;
  background: var(--color-white);
  min-height: 100px;
  padding: var(--spacing) calc(var(--spacing) / 2);
  line-height: 1.1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
  border-bottom: 2px solid transparent;

  &:not(.active):hover {
    background: var(--grey-e);
  }

  &.active {
    color: var(--color-white);

    &:focus,
    &:hover {
      outline: 2px solid var(--color-focus);
    }
  }

  &.bg-stage-3 {
    &.active {
      color: var(--color-text);
    }
  }

  &.home-filters-list__item--category {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-text);
  }
}
