.categoryList {
  position: relative;
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 2);

  @media (min-width: 980px) {
    padding-top: calc(var(--spacing) * 2);
  }

  &:first-of-type {
    border-top: none;
  }
}

.categoryList__heading {
  position: absolute;
  top: 0;
  padding: var(--spacing);
  font-weight: 400;
  font-size: var(--font-size-base);
  flex: none;

  @media (min-width: 980px) {
    width: calc(100% / var(--numColumns));
    position: relative;
    padding: var(--spacing) var(--spacing) calc(var(--spacing) * 2)
      var(--spacing);
    margin: 0;
  }
}
