.filter__toggle {
  background: var(--color-white);
  border: 1px solid var(--grey-d);
  font-size: var(--font-size-small);
  font-weight: bold;
  height: 47px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5)
    calc(var(--spacing) * 1.5) calc(var(--spacing) * 1.5);
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  width: 100%;
  cursor: pointer;

  &:hover {
    outline: 2px solid var(--grey-d);
  }

  &:focus-visible {
    background: var(--color-white);
    outline: 2px solid var(--color-focus);
  }

  &.filter__toggle--many {
    padding-right: 86px;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.filter__toggle-arrow {
  position: absolute;
  right: 8px;
  height: 20px;
  width: 20px;
  fill: var(--color-text);
}

.filter__more-count {
  position: absolute;
  right: 30px;
  font-weight: bold;

  @media (min-width: 769px) {
    display: none;
  }

  @media (min-width: 1024px) {
    display: inline-block;
  }
}

.filter-dropdown {
  z-index: 50;
  display: flex;
  max-height: calc(100vh - 150px);
  flex-direction: column;
  overscroll-behavior: contain;
  border: 1px solid var(--grey-d);
  background-color: var(--color-white);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: auto;

  &:focus-visible,
  &[data-focus-visible] {
    outline: 2px solid var(--color-focus);
    outline-offset: -1px;
  }
}

.filter-item {
  border-bottom: 1px solid var(--grey-d);
  display: flex;
  cursor: pointer;
  gap: var(--spacing);
  scroll-margin: calc(var(--spacing) * 1.5);
  align-items: center;
  padding: calc(var(--spacing) * 1.5);
  outline: none !important;
  font-size: var(--font-size-small);

  &.filter-item--combobox {
    justify-content: space-between;
    padding: var(--spacing) calc(var(--spacing) * 1.5);
  }
}

.filter-item[aria-disabled="true"] {
  opacity: 0.5;
}

.filter-item[data-active-item] {
  background-color: var(--color-focus);
  color: var(--color-text);
}

.filter-item__inner {
  align-items: center;
  display: flex;
  gap: var(--spacing);
}

.filter-item--all {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: block;
}

.filter-item-check {
  height: 20px;
  width: 20px;
  border: 1px solid var(--grey-d);
  flex-shrink: 0;
}

[aria-selected="true"] .filter-item-check {
  border-color: var(--color-green);
}

[aria-selected="true"] .filter-item-check:after {
  content: "";
  display: block;
  background: var(--color-green);
  height: 14px;
  width: 14px;
  margin: 2px;
}

[data-active-item] .filter-item-check {
  border-color: var(--color-text);
}

[data-active-item][aria-selected="true"] .filter-item-check:after {
  background: var(--color-text);
}

.combobox-wrapper {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  padding: var(--spacing);

  input {
    width: 100%;
  }
}
