.filter-bar {
  background-color: var(--color-white);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  padding: 0 var(--spacing-2);
  position: sticky;
  top: 0;
  z-index: 9;

  &.active {
    height: 100vh;
  }

  @media (min-width: 769px) {
    display: flex;

    &.active {
      height: auto;
    }
  }
}

.filter-bar-logo {
  align-content: center;
  height: 47px;

  width: var(--spacing-6);

  a {
    display: block;
    line-height: 0;
  }

  img {
    width: 100%;
  }

  @media (min-width: 769px) {
    margin: var(--spacing-2) 0 0 0;
  }
}

.filter-bar__mobile-btn {
  padding-right: var(--spacing-3);
  position: absolute;
  right: var(--spacing-2);
  top: calc(var(--spacing) * 1.5);
}

.filter-bar__inner {
  @media (min-width: 769px) {
    flex-grow: 1;
  }
}

.filter-bar__primary {
  @media (min-width: 769px) {
    display: flex;
    padding: var(--spacing-2) 0 var(--spacing-2) var(--spacing-2);
  }
}

.filter-bar__secondary {
  padding: 0 0 var(--spacing-2) 0;

  &[hidden] {
    padding: 0;
  }

  @media (min-width: 769px) {
    display: flex;
    padding: 0 0 var(--spacing-2) var(--spacing-2);
  }
}

.filter-bar__section {
  padding: var(--spacing) 0;

  @media (min-width: 769px) {
    padding: 0 calc(var(--spacing) / 2);
    width: 22%;
  }
}

.filter-bar__end-section {
  width: auto;

  .button-secondary {
    margin-right: var(--spacing);
    @media (min-width: 769px) {
      height: 100%;
      vertical-align: top;
      line-height: 29px;
    }
  }
}

.filter-bar__button {
  display: block;
  width: 100%;

  @media (min-width: 769px) {
    margin: 0 calc(var(--spacing) / 2);
    width: auto;
  }
}

.filter-info-heading {
  border-bottom: 2px solid;
  font-size: var(--font-size-base);
}
