.stages {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 36px;
  bottom: 0;
  left: 0;
  margin: 0;

  @media print {
    display: none;
  }
}

.stages__stage {
  flex: 1 1;
  min-width: 0;
  height: 100%;
  display: flex;
  padding: 0 var(--spacing);
  color: var(--color-white);
  font-size: var(--font-size-small);
  line-height: 1.2;
  font-weight: bold;
  overflow: hidden;
  background: var(--stage-11-color);

  @media (min-width: 980px) {
    align-items: center;
    padding: var(--spacing);
  }
}

.stages__stage.brand {
  display: none;

  @media (min-width: 980px) {
    display: flex;
    width: calc(100% / var(--numColumns));
    flex: none;
    background: none;
  }
}
