[data-backdrop] {
  background-color: rgba(0, 0, 0, 0.4);

  @media print {
    display: none;
  }
}

.dialog {
  position: fixed;
  inset: 0.75rem;
  z-index: 50;
  margin: auto;
  display: flex;
  height: fit-content;
  min-height: 50dvh;
  max-height: calc(100dvh - 2 * 0.75rem);
  flex-direction: column;
  overflow: auto;
  border-radius: 5px;
  background-color: var(--color-white);
  padding: calc(var(--spacing) * 2);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  width: 92%;
  max-width: 1200px;

  @media (min-width: 769px) {
    top: 5vh;
    bottom: 5vh;
    margin-top: 0;
    max-height: 90vh;
    padding: calc(var(--spacing) * 3);
  }

  @media print {
    display: block;
    position: relative;
    max-height: none;
    height: auto;
    padding: 0;
    width: 100%;
    max-width: none;
    overflow: scroll;
    box-shadow: none;
    top: 0;
    bottom: auto;
  }
}

.dialog:focus-visible {
  outline: 2px solid var(--color-focus);
}

.dialog__heading {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing);
  display: flex;
  border-bottom: 2px solid var(--grey-b);
}

.dialog__close {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: calc(var(--spacing) * 2);
  top: calc(var(--spacing) * 2);
}

.dialog-actions {
  margin-bottom: var(--spacing-2);

  .button-tertiary,
  .button-secondary {
    margin-right: var(--spacing);
  }
}

.dialog-footer {
  border-top: 1px solid var(--grey-d);

  padding-top: var(--spacing-2);
}

.dialog-footer__link {
  align-items: center;
  display: flex;

  label {
    margin-right: var(--spacing);
  }

  input {
    flex-grow: 1;
  }
}
